/* Header */
.topnav {
	position: fixed;
	top: 0;
	width: 100%;	
	overflow: hidden;
	background-color: #1e212d;
}
.topnav h1 {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding-top: 2px;
	padding-left: 10px;
	text-decoration: none;
	font-size: 17px;
}
.topnav a {
	float: right;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.topnav a:hover {
	background-color: #eabf9f;
	color: black;
}
.topnav a.active {
	background-color: #b68973;
	color: white;

}
.topnav .icon {
	display: none;
}

/* Footer */
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #1e212d;
	color: white;
	text-align: center;
}

/* Estilos generales */
html{
	background-color: #faf3e0;
}
body {
	text-align: justify;
	margin: 0;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content {
	margin: 30px;	
	padding-top: 40px;
	padding-bottom: 40px;
	position:static;
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.content p{
	font-size: 20px;
}
.content  h1 {
	text-align: center;
	color: #1e212d;
	font-size: 60px;
}
.content  h2 {
	margin: 0;
	color: #1e212d;
	font-size: 36px;
}
.content h5{
	font-style: italic;
}
.content a:link{
	color: #1e212d;
	text-decoration: none;
}
.content a:visited{
	color: #1e212d;
	text-decoration: none;
}
.content a:hover{
	color: black;
	text-decoration: underline;
}
.content a:active{
	color: black;
	text-decoration: none;
}
hr
{
	border-color: #1e212d;
	border-width: 1px;
	margin-top: 4px;
	margin-bottom: 4px;
}
section {
	margin-bottom: 20px;
	background-color: rgba(234, 191, 159, 0.3);
	padding: 5px 5px 5px 5px;
}

/* Imagenes */
img {
    width: 80%;
	height: auto;
	padding: 5px 5px 5px 5px;
	display:block;
    margin:auto;
}
.bio {
	width: 40%;
	max-width: 40%;
	padding: 5px 5px 5px 5px;
	height: auto;
	margin: auto;
	float: left;
}
iframe{
	width: 80%;
	height: 600px;
	padding: 5px 5px 5px 5px;
	display:block;
    margin:auto;
}

/* Responsive */
@media screen and (max-width: 600px) {
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
	  float: right;
	  display: block;
	}
}
@media screen and (max-width: 600px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.topnav.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	}
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
::-webkit-scrollbar-track {
	background: #1e212d;
}
::-webkit-scrollbar-thumb {
	background: #eabf9f;
}
::-webkit-scrollbar-thumb:hover {
	background: #b68973;
}
